@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

:root {
  --bg: #141410;
  --bg1: #20201acb;
  --fg: #ccb;
  --fg2: rgb(187, 179, 201);

  font-size: 1.05em;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: 'Noto Sans JP', sans-serif;
}

#main {
  background-color: var(--bg1);
  width: 55%;
  margin: auto;
  margin-top: 2%;
  margin-right: 25%;
}
h1 {
  padding-top: 2%;
  margin: auto;
  width: 10em;
}
p {
  padding: 1% 20% 5% 23%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex p {
  padding: 15px 15px 15px 0;
}

#github-pfp {
  width: 104px;
  height: 104px;
  margin: 3% 3% 3% 8%;
}
#github-pfp img {
  border-radius: 10%;
  padding: 2%;
  max-width: 100%;
}

me {
  color: var(--fg2);
}
