@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

:root {
  --bg: #141410;
  --bg1: #2c2c2acb;
  --fg: rgb(226, 226, 176);
  --fg1: rgb(190, 240, 160);

  --url: rgb(172, 217, 220);
  --url-visited: rgb(196, 172, 220);

  font-size: 1.05em;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: 'Ubuntu Mono', monospace;
}

#main {
  background-color: var(--bg1);
  width: 70%;
  margin: auto;
  margin-top: 20px;
  padding: 10px 10px 30px 10px;
  border-radius: 5px;
}
h1, h2, h3, h4, h5, h6, p {
  padding: 7px;
  margin: auto;
}
h1 { padding-left: 25px; }
h2 { padding-left: 30px; }
h3 { padding-left: 35px; }
h4 { padding-left: 40px; }
h5 { padding-left: 45px; }
h6 { padding-left: 50px; }
p  { padding-left: 55px; }
ul { padding-left: 100px; }

hr {
  width: 95%;
}

me {
  color: var(--fg1);
}

a {
  color: var(--url);
}
a:visited {
  color: var(--url-visited);
}
ul.project-list a {
  color: var(--fg);
}
